@charset "UTF-8";


/* #title{
	text-align:center;
	font-weight:500;
	font-size:20px;
	color:blue;
} */

#wrapper{
	width:50%;
	margin:0 auto; 
}

	
/* .labelField{
	position:absolute;
	width:20%;
}

	

.inputField{
	position:relative;
	left:30%;
} */


	

